# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# env
.env
*.pdf
.claude
*.docx


# # Built objects
*.pydevproject
.project
.metadata
bin/
gen/
out/
build/

# Gradle cache
.gradle/

# Local configuration file (SDK paths, etc.)
local.properties

# Proguard files
proguard/

# Log files
*.log

# Android Studio / IntelliJ files
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/gradlew.bat


# Keystore files (Keep your keys private!)
*.keystore
*.jks
*.keystore.*
*.jks.*
*.log
*.orig
*.rej
*.swp

# External native build artifacts
.externalNativeBuild
.cxx/

.frontend_apps/